<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherIqons">

        <meta-data
            android:name="org.breezyweather.PROVIDER_CONFIG"
            android:resource="@xml/icon_provider_config" />

        <meta-data
            android:name="org.breezyweather.SUN_MOON_FILTER"
            android:resource="@xml/icon_provider_sun_moon_filter" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!---
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

            <intent-filter>
                <action android:name="org.breezyweather.ICON_PROVIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>